@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255))
    rgb(214, 219, 220);
}

input.light {
  background-color: rgba(255, 255, 255, 0.8);
  color: #1a202c;
}
